.nav {
    display: flex;
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #011627;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-left: 0;
    justify-content: center;
}
 
.nav-link {
    color: #FDFFFC;
     justify-content: space-evenly;
     text-decoration: none;
    font-size: 18px;
    margin: 0px 1px;  
}
.nav-link :visited {
color: #FDFFFC;
text-decoration: none;
}
a:hover {
color: #48acff; 
}
a:active {
    color: antiquewhite; }

#home {
    font-size: 19px;
    margin: 0px 20%;
}

#biblioteca {
    font-size: 19px;
    margin: 0px 20%;
}

#chi-siamo {
    font-size: 19px;
 margin: 0px 20%;
}



.hero{
    margin-top: 70px;
    width: 100%;
    max-height: 500px;
    max-width: auto;
    margin-bottom: 30px;
    object-position: -10% 50%;
    object-fit: cover;
    
}
